In [3]:
import numpy as np
import pandas as pd

df = pd.read_csv('CountryData.csv')

df.head()

,Unnamed: 0,ID Tag,Money(GDP),Army Assets,Navy Assets,Air Force Assets,Availale manpower,Nuclear Capabilities
0,United States,USA,"19,485,394,000,000",51510,1530,19827,145215000,"6,185"
1,Canada,CAN,"1,647,120,175,449",582,3245,99,16000000,0
2,United Kingdom,UKD,"2,637,866,340,434",6466,225,1203,30000000,215
3,France,FRA,"2,582,501,307,216",7871,378,1915,30000000,300
4,China,CHN,"12,237,700,479,375",20371,1204,3867,750000000,290